<p id="notice"><%= notice %></p>

<p>
  Su plataforma kubera está lista para utilizarce en la siguiente dirección:
  <% urlt = @tenant.domain + '.senovakubera.life'  %>
  <%=link_to urlt,urlt%>
</p>

<p>
  <strong>Owner:</strong>
  <%= @tenant.owner %>
</p>
