<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hola <%= @name%>,</p>
    <%
    tenant = Apartment::Tenant.current
    url ='http://'

    if(tenant != 'public')
      url = tenant+'.'
    end
    url = url + 'sennovakubera.life'
    %>
    <p>Te ha sido creada una cuenta en Sennova Kubera, para acceder debes ir al siguiente <%= link_to 'enlace', url %> e ingresar con los datos que se encuentran a continuaci&oacute;n:</p>
    <p>
      <table>
        <tr>
          <th>Usuario</th><th>Clave</th>
        </tr>
        <tr>
          <td><%= @email %></td><td><%= @pass %></td>
        </tr>
      </table>
    </p>
    <p>Saludos<br>
  Opensky</p>
  </body>
</html>
