<p>Bienvenido(a) a la plataforma Sennova Kubera<%= @email %>!</p>

<p>Por favor confirme su cuenta mediante el link:</p>
<%
tenant = Apartment::Tenant.current
url ='http://'

if(tenant != 'public')
  url = tenant+'.'
end
url = url + 'sennovakubera.life/users/confirmation?confirmation_token=' + @token.to_s
%>
<p><%= link_to 'Habilitar cuenta', url %></p>
<!--<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
-->
